* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    width: 240px;
    border-radius: 20px;
    border: 2px solid aqua;
}

button {
    height: 50px;
    padding: 5px;
    font-size: 40px;
    font-weight: 600;
    background-color: aqua;
    border: 0;
    border-radius: 20px;
}

.displayWrapper {
    padding: 10px;
    border: 2px solid aqua;
    border-radius: 20px;
    margin-left: 200px;
}

.menuWrapper {
    width: 270px;
    padding: 10px;
    border: 2px solid aqua;
    border-radius: 20px;
}

.setting {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid aqua;
    border-radius: 20px;
    margin-bottom: 10px;
}

.setting span {
    font-size: 18px;
    font-weight: 600;
}

.setting input {
    width: 80px;
    height: 30px;
    padding: 4px;
    border-radius: 20px;
    border: none;
    text-align: center;
}

.errorInput {
    background-color: red;
}

.errorMessageStyles {
    font-size: 10px;
    color: red;
}